.rprogress {
    position: relative;
    z-index: 2147483647;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    transition: all 200ms linear;
    pointer-events: none;
    background: #b91f1f;
    transform: translateZ(0);
    will-change: width;
}
